@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Share+Tech+Mono');

body, html, * {
    margin: 0;
    padding: 0;
}
body {
    background: #141A21;
    font-family: 'Roboto', sans-serif;
}