.ascii-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #F9F9F9;
  letter-spacing: 10px;
  margin: 0;
}
.logo-svg {
  width: 360px;
}
.logo {
  height:20vh;
  justify-content: center;
  justify-items: center;
  text-align: center;
	svg {
	fill: none;
	path {
		-webkit-transition:fill 2s ease-in-out;
		fill:transparent;
		stroke-width:1px;
	}
 }
	
	&.completed{
		svg{
      filter: drop-shadow(0 -2px 3px rgba(255,215,0,0.1)) drop-shadow(0 0 2px rgba(255,215,0,0.2)) drop-shadow(0 0 0.3em rgba(255,215,0,0.3)) drop-shadow(0 0 0.5em  rgba(255, 68, 68, 0.7)) drop-shadow(0 0 0.1em rgba(255, 68, 68, 0.5));
      animation: blink linear infinite 5s;
			path{
        transition: fill 2s ease-in-out;
        fill: gold;
        stroke: none;
			}   
		}
	}
  
}
@keyframes blink {
0% { opacity: 0; }
     
  // flicker
  5%  { opacity: 0; }
  6% { opacity: 1; }
  11% { opacity: .4; }
  11.25% { opacity: .6; }
  11.5% { opacity: .4; }
  18% { opacity: 1; }
  18.5% { opacity: .9; }
  22% { opacity: 1; }
 
   // flicker
  38.5% { opacity: 1; }
  39% { opacity: .8; }
  42% { opacity: 1; }
 
  // flicker
  60% { opacity: 1; }
  60.5% { opacity: 0; }
  62% { opacity: 0; }
  63% { opacity: .2; }
  63.25% { opacity: 0; }
  65% { opacity: 1; }
 
  // flicker
  73% { opacity: 1; }
  75% { opacity: .8; }
  79% { opacity: 1; }
 
  100% { opacity: 1; }
}